/* style.css */

body {
    font-family: "Helvetica Neue";
    padding: 20px;
    background-color: rgb(240, 240, 240);
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
li {
    display: inline-block;
    margin-right: 20px;
}

.nav:link, .nav:visited {
    background-color: rgb(68, 190, 190);
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.nav:hover, .nav:active {
    background-color: rgb(35, 116, 116);
}

.socials:link,.socials:visited,.socials:hover,.socials:active {
    text-decoration: none;
}

h2 {
    padding: 0px;
    margin: 0px;
}

.title {
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin: auto;
}
  
.lowerBody {
    margin: auto;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.article {
    background-color: white;
    padding: 20px;
    margin: auto;
}

.row {
    display: flex;
    display: inline-flex;
}
  
.column {
    display: inline-grid;
} 

img {
    max-width: 100%;
}
  
iframe {
    width: 100%;
    height: auto;
}